/* define a animação */
@keyframes typing {
    0% { width: 0; }
    100% { width: 100%; }
  }
  
  /* aplica a animação no elemento */
  .digitar {
    border-right: 0.1em solid #000;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 1s steps(20, end) infinite;
  }
  